.comentario {
    margin-top: 1rem;
    font-style: italic;
}

body {
    margin: 0;
    background-color: rgb(232, 232, 232);
}

.main_container {
    margin: 5rem;
    padding: 5rem;
    border: 1px solid rgb(108, 108, 108);
    display: flex;
    gap: 1rem;
}

.logo {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 8rem;
}

.logo_laravel {
    width: 100%;
    height: auto;
}

.titulo_principal {
    padding: 2rem;
    text-align: center;
}

footer {
    margin-left: 2rem;
}

span {
    font-weight: bold;
}